In [2]:
%load_ext watermark
%watermark

2019-03-23T20:43:22-04:00

CPython 3.6.8
IPython 6.2.1

compiler   : GCC 7.3.0
system     : Linux
release    : 4.15.0-46-generic
machine    : x86_64
processor  : x86_64
CPU cores  : 4
interpreter: 64bit

In [3]:
import pandas as pd
import matplotlib.pyplot as plt
plt.rcParams['figure.figsize'] = (10, 10)

In [4]:
%matplotlib inline

In [5]:
df = (pd
             .read_csv("./vehiculos-original.csv")
             .rename(columns={
                "cylinders":"cilindros",
                "trany":"transmision",
                "make":"fabricante",
                "model":"modelo",
                "displ":"desplazamiento", #volumen de desplazamiento del motor
                "drive":"traccion",
                "VClass":"clase",
                "fuelType":"combustible",
                "comb08":"consumo", #combined MPG for fuelType1
                "co2TailpipeGpm":"co2", # tailpipe CO2 in grams/mile
            })
            .query("co2>0")
)

In [6]:
df.head()

,fabricante,modelo,year,desplazamiento,cilindros,transmision,traccion,clase,combustible,consumo,co2
0,AM General,DJ Po Vehicle 2WD,1984,2.5,4.0,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,17,522.764706
1,AM General,DJ Po Vehicle 2WD,1984,2.5,4.0,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,17,522.764706
2,AM General,FJ8c Post Office,1984,4.2,6.0,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,13,683.615385
3,AM General,FJ8c Post Office,1984,4.2,6.0,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,13,683.615385
4,AM General,Post Office DJ5 2WD,1985,2.5,4.0,Automatic 3-spd,Rear-Wheel Drive,Special Purpose Vehicle 2WD,Regular,16,555.437500

In [7]:
df.dtypes

fabricante         object
modelo             object
year                int64
desplazamiento    float64
cilindros         float64
transmision        object
traccion           object
clase              object
combustible        object
consumo             int64
co2               float64
dtype: object

In [8]:
df.to_csv('vehiculos-1.csv', index=False)

In [10]:
df.head(4)

,fabricante,modelo,year,desplazamiento,cilindros,transmision,traccion,clase,combustible,consumo,co2
0,AM General,DJ Po Vehicle 2WD,1984,2.5,4.0,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,17,522.764706
1,AM General,DJ Po Vehicle 2WD,1984,2.5,4.0,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,17,522.764706
2,AM General,FJ8c Post Office,1984,4.2,6.0,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,13,683.615385
3,AM General,FJ8c Post Office,1984,4.2,6.0,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,13,683.615385

In [15]:
df.describe(include='all')

,fabricante,modelo,year,desplazamiento,cilindros,transmision,traccion,clase,combustible,consumo,co2
count,38297,38297,38297.000000,38295.000000,38294.000000,38295,37116,38297,38297,38297.000000,38297.000000
unique,129,3734,NaN,NaN,NaN,37,7,34,13,NaN,NaN
top,Chevrolet,F150 Pickup 2WD,NaN,NaN,NaN,Automatic 4-spd,Front-Wheel Drive,Compact Cars,Regular,NaN,NaN
freq,3829,210,NaN,NaN,NaN,11043,13387,5551,25356,NaN,NaN
mean,NaN,NaN,2000.298170,3.314394,5.733535,NaN,NaN,NaN,NaN,19.987936,473.802726
std,NaN,NaN,10.531561,1.360686,1.753493,NaN,NaN,NaN,NaN,5.091338,119.127591
min,NaN,NaN,1984.000000,0.600000,2.000000,NaN,NaN,NaN,NaN,7.000000,29.000000
25%,NaN,NaN,1991.000000,2.200000,4.000000,NaN,NaN,NaN,NaN,17.000000,389.000000
50%,NaN,NaN,2001.000000,3.000000,6.000000,NaN,NaN,NaN,NaN,19.000000,467.736842
75%,NaN,NaN,2010.000000,4.300000,6.000000,NaN,NaN,NaN,NaN,23.000000,553.000000
max,NaN,NaN,2018.000000,8.400000,16.000000,NaN,NaN,NaN,NaN,58.000000,1269.571429

In [16]:
df.dtypes

fabricante         object
modelo             object
year                int64
desplazamiento    float64
cilindros         float64
transmision        object
traccion           object
clase              object
combustible        object
consumo             int64
co2               float64
dtype: object

In [17]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 38297 entries, 0 to 38425
Data columns (total 11 columns):
fabricante        38297 non-null object
modelo            38297 non-null object
year              38297 non-null int64
desplazamiento    38295 non-null float64
cilindros         38294 non-null float64
transmision       38295 non-null object
traccion          37116 non-null object
clase             38297 non-null object
combustible       38297 non-null object
consumo           38297 non-null int64
co2               38297 non-null float64
dtypes: float64(3), int64(2), object(6)
memory usage: 3.5+ MB